<div class="row">
    <div class="col-4">
        <form id="account" method="post">
            <h4>Sign in</h4>
            <hr />
            <div class="form-group">
                <label for="Input_Email">Email</label>
                <input class="form-control" type="email" id="Input_Email" />
            </div>
            <div class="form-group">
                <label for="Input_Password">Password</label>
                <input class="form-control" type="password" data-val="true" id="Input_Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
    <div class="col-8"></div>
</div>