<import from="./mealtypes/mealtype-details"/>

<h1>Index</h1>

<p>
    <a href="/MealTypes/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                MealTypeName
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.id}
            </td>
            <td>
                ${item.mealTypeName}
            </td>
            <td>
                ${item.price}
            </td>
            <td>
                <a load="/mealtype-details(id=${item.id})">Details</a>
            </td>
            
        </tr>
    </tbody>
</table>