<h1>Index</h1>

<p>
    <a href="/Teachers/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                SocialSecurityCode
            </th>
            <th>
                AppUser
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Anette
            </td>
            <td>
                Kilk
            </td>
            <td>
                49426041234
            </td>
            <td>
                raskil@ttu.ee
            </td>
            <td>
                <a href="/Teachers/Edit/60df7000-7cfc-488d-68a3-08d8ec895409">Edit</a> |
                <a href="/Teachers/Details/60df7000-7cfc-488d-68a3-08d8ec895409">Details</a> |
                <a href="/Teachers/Delete/60df7000-7cfc-488d-68a3-08d8ec895409">Delete</a>
            </td>
        </tr>
    </tbody>
</table>