<h1>Political fact</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Category
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                ${data.id}
            </td>
            <td>
                ${data.category}
            </td>    
            <td>
                ${data.value}
            </td>         
        </tr>
    </tbody>
</table>