<h1 class="categoryHeader">Seen facts</h1>
<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of appState.seenFacts">
            <td>
                ${item.category}
            </td>    
            <td>
                ${item.value}
            </td>         
        </tr>
    </tbody>
</table>