<h1>Edit</h1>

<h4>MealType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="edit" method="put">
            <div class="form-group">
                <label for="input-meal-type-name">Meal type name</label>
                <input class="form-control" type="text" id="input-meal-type-name" value.bind="mealTypeName" />
            </div>
            <div class="form-group">
                <label for="input-meal-type-price">Price</label>
                <input class="form-control" type="number" id="input-meal-type-price" value.bind="mealTypePrice" />
            </div>
            <div class="form-group">
                <button click.delegate="editClicked($event)" type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a load="/meal-type-index">Back to List</a>
</div>