<h1>Meal types index</h1>

<p>
    <a load="/meal-type-create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                MealTypeName
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.mealTypeName}
            </td>
            <td>
                ${item.price}
            </td>
            <td>
                <a load="/meal-type-edit(${item.id})">Edit</a> |
                <a load="/meal-type-details(${item.id})">Details</a> |
                <a load="/meal-type-delete(${item.id})">Delete</a>
            </td>
        </tr>
    </tbody>
</table>