<h1>Create</h1>

<h4>MealType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/MealTypes/Create" method="post">



            <div class="form-group">
                <label class="control-label" for="MealTypeName">MealTypeName</label>
                <input class="form-control" type="text" data-val="true"
                    data-val-maxlength="The field MealTypeName must be a string or array type with a maximum length of &#x27;60&#x27;."
                    data-val-maxlength-max="60"
                    data-val-minlength="The field MealTypeName must be a string or array type with a minimum length of &#x27;3&#x27;."
                    data-val-minlength-min="3" data-val-required="The MealTypeName field is required." id="MealTypeName"
                    maxlength="60" name="MealTypeName" value="" />
                <span class="text-danger field-validation-valid" data-valmsg-for="MealTypeName"
                    data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Price">Price</label>
                <input class="form-control" type="text" data-val="true"
                    data-val-number="The field Price must be a number." data-val-required="The Price field is required."
                    id="Price" name="Price" value="" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Price"
                    data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8DFyux_vpIhOl50VctGpEewZjwHLgsSnn6poHSf2lZZnoArUQutKUealaQf-znoZUXd7DmStX05_JwN71BLxVUc4bIzX7uxUwfXxfFZKDQxUpmXMvw05FNMKkOhLKfQlLSSuysBdPxHiwkVeqkMkaq8d2r-ArE1A7FvqHCeeb7-fIY6wXCTSkqRXqK36KXg9ig" />
        </form>
    </div>
</div>

<div>
    <a load="/meal-type-index">Back to List</a>
</div>