<h1>Meal types index</h1>

<p>
    <a href="/MealTypes/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                MealTypeName
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.mealTypeName}
            </td>
            <td>
                ${item.price}
            </td>
            <td>
                <a href="/MealTypes/Edit/a42e4110-d115-4fae-90e1-08d8f1fe09ba">Edit</a> |
                <a load="/meal-type-details(${item.id})">Details</a> |
                <a href="/MealTypes/Delete/a42e4110-d115-4fae-90e1-08d8f1fe09ba">Delete</a>
            </td>
        </tr>
    </tbody>
</table>