<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MealType</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            MealTypeName
        </dt>
        <dd class="col-sm-8">
            ${data.mealTypeName}
        </dd>
        <dt class="col-sm-4">
            Price
        </dt>
        <dd class="col-sm-8">
            ${data.price}
        </dd>
    </dl>

    <form id="delete" method="delete">
        <div class="form-group">
            <button click.delegate="deleteClicked($event)" type="submit" class="btn btn-danger">Delete</button>
        </div>
        <a load="/meal-type-index">Back to List</a>
    
    </form>

</div>
